body {
    	color: #000000;
    	font-family: 'Copperplate', Fantasy;
        background-color: #3BAFF7;

}
h1 {
   text-align: center;
}
h2 {
   text-align: center;
}
h4 {
   text-align: center;
}
h6 {
   text-align: center;
}

li {
    font-size: 48px;
}

.jumbotron {
    background-color: #8B0000;
}
.jumbotron.bucs {
    background-color: #D40909;
    color: #FF7900;
}
.jumbotron.chiefs {
    background-color: #E31837;
    color: #FFB81C;
}
.jumbotron.browns {
    background-color: #311D00;
    color: #FF3C00;
}
.jumbotron.rams {
    background-color: #003594;
    color: #FFA300;
}
.jumbotron.bills {
    background-color: #00338D;
    color: #C60C30;
}
.jumbotron.pack {
    background-color: #203731;
    color: #FFB612;
}
.jumbotron.niners {
    background-color: #AA0000;
    color: #B3995D;
}
.jumbotron.phins {
    background-color: #008E97;
    color: #FC4C02;
}
.jumbotron.hawks {
    background-color: #002244;
    color: #69BE28;
}
.jumbotron.saints {
    background-color: #D3BC8D;
    color: #101820;
}
.dropbtn {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
